.button{
    background-color:#f1f1f1;
    outline: none;
    border: none;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    /* width: 100%; */
    min-width: 88px;
    min-height: 32px;
    padding: 0.2rem 1rem;
    flex-shrink: 0;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.btn-label {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-right: 5px;
        /* width: 100px; */
    color: #444;
}

.btn-active {
    border : 1.5px solid red;
    font-weight: 600;
}

.btn-active span {
    color: red;
}

.label-padding{
    padding: 1rem 0;
}